.title {
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
}


.list {
  display: flex;
  gap: 8px;
  width: 100vw - 25px;
  overflow-x: overlay;
  overflow-y: hidden;
  padding-bottom: 15px;
}

.tv-show-item {
  margin-right: 20px;
}
